@page
@model Chat_V2.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <div id="messages-list">

            </div>
            <hr />
            <input type="text" id="message-input" />
        </div>
        <div class="col-6">
            <div id="command-output-list">

            </div>
            <hr />
            <input type="text" id="command-input" />
        </div>
    </div>
</div>
<style>

    #messages-list, #command-output-list {
        overflow-y: scroll;
        width: 100%;
    }

    #message-input, #command-input {
        width: 100%;
    }

    #messages-list {
        height: 750px;
    }

    #message-input {

    }

    #command-output-list {
        height: 200px;
    }

    #command-input {
        
    }

</style>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
    "use strict";

    //Get ViewModel data
    var viewmodel = {
        GroupID: '@Model.ViewModel.Membership.GroupID',
        UserID: '@Model.ViewModel.Membership.ChatUserID',
        Rank: '@Model.ViewModel.Membership.Rank'
    };

    function appendMessage(senderName, senderRankColor, message) {
        var head = "<" + senderName + ">: ";
        var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");

        var container = document.createElement("div");
        container.setAttribute("class", "message");

        var header = document.createElement("span");
        header.setAttribute("class", "message-header");
        header.setAttribute("style", "color: #" + senderRankColor + ";");
        header.textContent = head;
        container.appendChild(header);

        var content = document.createElement("span");
        content.setAttribute("class", "message-content");
        content.setAttribute("style", "color: #" + senderRankColor + ";");
        content.textContent = msg;
        container.appendChild(content);

        var messagesList = document.getElementById("messages-list");

        messagesList.appendChild(container);
        messagesList.scrollTop = messagesList.scrollHeight;
    }

    function appendCommandMessage(color, message) {
        var head = "$ ";
        var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");

        var container = document.createElement("div");
        container.setAttribute("class", "message");

        var header = document.createElement("span");
        header.setAttribute("class", "message-header");
        header.setAttribute("style", "color: #" + color + ";");
        header.textContent = head;
        container.appendChild(header);

        var content = document.createElement("span");
        content.setAttribute("class", "message-content");
        content.setAttribute("style", "color: #" + color + ";");
        content.textContent = msg;
        container.appendChild(content);

        var messagesList = document.getElementById("command-output-list");

        messagesList.appendChild(container);
        messagesList.scrollTop = messagesList.scrollHeight;
    }

    //Start SignalR connection
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    
    //On connection established
    connection.start().then(function () {
        console.log("connected");

        //Load the last 50 messages
        connection.invoke("GetPreviousMessages", viewmodel.GroupID, viewmodel.Rank, 0, 50);
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("ReceivePreviousMessages", function (messages) {
        $.each(messages, function () {
            var args = this;
            appendMessage(args.senderName, args.senderRankColor, args.message);
        });
    });

    //Receive Message
	connection.on("ReceiveMessage", function (args) {
        appendMessage(args.senderName, args.senderRankColor, args.message);
    });

    //Send Message
    document.getElementById("message-input").addEventListener("keyup", function (event) {
        if (event.keyCode == 13) {
            var element = document.getElementById("message-input");
            var message = element.value;

            var args = {
                GroupID: viewmodel.GroupID,
                SenderID: viewmodel.UserID,
                SenderRank: viewmodel.Rank,
                MinRank: viewmodel.Rank,
                Message: message
            };
            connection.invoke("SendMessage", args).catch(function (err) {
                return console.error(err.toString());
            });

            element.value = "";

            event.preventDefault();
        }
    });

    //Receive Command-Related Message
    connection.on("ReceiveCommandMessage", function (args) {
        appendCommandMessage(args.color, args.message);
    });

    //Send Command
    document.getElementById("command-input").addEventListener("keyup", function (event) {
        if (event.keyCode == 13) {
            var element = document.getElementById("command-input");
            var text = element.value;

            var args = {
                GroupID: viewmodel.GroupID,
                SenderID: viewmodel.UserID,
                SenderRank: viewmodel.Rank,
                Text: text
            };
            connection.invoke("ProcessCommand", args).catch(function (err) {
                return console.error(err.toString());
            });

            element.value = "";

            event.preventDefault();
        }
    });
</script>
