@page
@model Chat_V2.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div id="messages-list" class="col-6" style="overflow-y: scroll">
            <div class="message">
                <span class="message-header">&lt;Example Header&gt;: </span>
                <span class="message-content">Example Message</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <input type="text" id="messageInput" />
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
    "use strict";

    //SignalR connection
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    
    //What to do when the connection is established
    connection.start().then(function () {
        console.log("connected");
    }).catch(function (err) {
        return console.error(err.toString());
    });

    //Recieve Message
	connection.on("ReceiveMessage", function (args, message) {
        var head = "<" + args.SenderName + ">: ";
        var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");

        var container = document.createElement("div");
        container.setAttribute("class", "message");

        var header = document.createElement("span");
        header.setAttribute("class", "message-header");
        header.setAttribute("style", "color: #" + args.Rank.Color + ";");
        header.textContent = head;
        container.appendChild(header);

        var content = document.createElement("span");
        content.setAttribute("class", "message-content");
        content.setAttribute("style", "color: #" + args.Rank.Color + ";");
        content.textContent = msg;
        container.appendChild(content);
        
        document.getElementById("messages-list").appendChild(container);
    });

    //Send Message
    document.getElementById("messageInput").addEventListener("keyup", function (event) {
        if (event.keyCode == 13) {
            var args = {
                    GroupID: @Model.ViewModel.Membership.GroupID,
                    SenderID: @Model.ViewModel.ChatUser.Id,
                    Rank: @Model.ViewModel.Membership.Rank
                };
            var message = document.getElementById("messageInput").value;
            connection.invoke("SendMessageAsync", args, message).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        }
    });
</script>
