@page
@model Chat_V2.Pages.GroupsModel
@{
    ViewData["Title"] = "Groups";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">

</div>
<style>

</style>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    //Get ViewModel data
    const viewmodel = {
        UserID: '@Model.ViewModel.ChatUser.Id'
    };

    //Start SignalR connection
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/groupsHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    
    //On connection established
    connection.start().then(function () {
        console.log("connected");

        var connectionArgs = {
            SenderID: viewmodel.UserID
        };

        //Send the connection event
        connection.invoke("ClientConnected", connectionArgs);

        //Load the groups
        //TODO
    }).catch(function (err) {
        return console.error(err.toString());
    });

    //On disconnect
    window.addEventListener('unload', (event) => {
        var args = {
            SenderID: viewmodel.UserID
        };

        //Send the disconnection event
        connection.invoke("ClientDisconnected", args);
    });
</script>