@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>&copy; 2019 Ryan Afzal, All Rights Reserved. We collect whatever data you gave us, and that's it, to the extent of my knowledge.</p>
