@page
@model Chat_V2.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
        @if (Model.IsThisUser) {
            <a class="nav-item nav-link" id="nav-notifications-tab" data-toggle="tab" href="#nav-notifications" role="tab" aria-controls="nav-notifications" aria-selected="false">Notifications</a>
        }
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        @{
            string img64 = Convert.ToBase64String(Model.ChatUser.ProfileImage.Data);
            string img64Url = string.Format("data:image/" + Model.ChatUser.ProfileImage.ContentType + ";base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
        }
        <img src="@img64Url" />
    </div>
    @if (Model.IsThisUser) {
        <div class="tab-pane fade" id="nav-notifications" role="tabpanel" aria-labelledby="nav-notifications-tab">

        </div>
    }
</div>